{% extends "base.html" %}

{% block title %}Small Nest{% endblock title %}

{% block navbar_index %}
	<li><a href='/'>Home</a></li>
	<li><a href='/nichijou'>Nichijou</a></li>
{% endblock navbar_index %}

{% block page_content %}
<div class='container'>
	<a href="{{ url_for('nichijou') }}">Nichijou</a>/
	<a href="{{ url_for('manage_file') }}">Manage</a>
</div>
<br>

{% for photo in files_list %}
	{{ photo }}
	<a href="{{ url_for('open_file', filename=photo) }}">open</a>/
	<!-- <a href="{{ url_for('delete_file', filename=photo) }}">delete</a> -->
	<br>
{% endfor %}
{% endblock page_content %}
